body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-wrapper{
  padding: 0 5rem;
}
.main-content{
  min-height:100vh
}
.preloader{
  position: absolute;
  top: 50%;
  left: 47%;
}
.circle-clipper .circle{
  border-width: 5px;
}
.preloader-wrapper.big{
  width: 110px;
  height: 110px;
}
#error-page{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  white-space: nowrap;
}
@media only screen and (max-width: 992px){
  .brand-logo{
    left: 5rem!important;
  }
}

.list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  gap: 1rem;
  padding: 2rem -0px;
}
.card{
  cursor: pointer;
}
.link-to-cat{
  color: black
}
.bold{
  font-weight: bold !important;
}